html, body {
    text-size-adjust: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #cfcaca4f;
}
small {
    font-size: 12px;
    padding: 5px;
}

.moodify-logo {
    height: 50px;
    padding: 15px;
}

.spotify-logo {
    height: 30px;
}

.home-start {
    background: url('./img/violet_banner.png');
    color: rgb(245, 245, 245);
    padding: 5%;
    padding-left: 16%;
    padding-right: 16%;
}

.header {
    background-color: #000;
    height: 80px;
    line-height: 40px;
    top: 0px;
    border-color: #222326;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
}

.tabbed-primary-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    box-align: center;
    align-items: center;
    float: right;
}

.navigation-tab {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.home-connect {
    padding: 4%;
}

.home-popup {
    border: 2px solid black;
    width: 240px;
    padding: 5px;
    margin:0 auto;
}

.button-connect {
    background-color: #191414;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-radius: 500px;
    padding: 14px 48px 13px;
}

.home-subscribe {
    margin-bottom: 80px;
}

.button-subscribe {
    background-color: royalblue;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 500px;
    padding: 14px 48px 13px;
}

#picker-mood{
    text-align:center;
    margin:auto;

}
.el-input__icon+.el-input__inner {
    border-radius: 500px;
}
.el-add-button, .el-close-button {
    border-color: rgba(128, 56, 196, 0) !important;
}
.el-close-button {
    padding: 0px !important;
    border: 0px !important;
}

.add-button, .close-button {
    width: 90%;
}
.add-button:focus, .add-button:hover {
    width: 100%;
}

.el-select-dropdown__item.selected.hover, .el-select-dropdown__item.selected {
    background-color: #8038C4 !important;
}